<div class="card text-center mb-4">
  <h5 class="card-header py-3"><%= title %> </h5>
  <div class="card-body pb-4">
    <h3 class="card-title my-4 h1"><%= price %> $</h3>
    <p class="card-text my-2"><%= pluralize(month_quantity, 'month') %></p>
    <p class="card-text mb-4"><%= pluralize(members, 'member') %></p>
    <a href="#" class="btn btn-success btn-lg">Get the plan</a>
  </div>
</div>
