<div class="container">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-12 col-md-9 col-lg-7 text-center">
            <h1 class="mb-4">Prices and plans</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quos quisquam molestiae quo commodi beatae cum debitis natus nihil repudiandae.</p>
        </div>
    </div>

    <hr class="my-5">

    <div class="row d-flex justify-content-center">
        <div class="col-xm-12 col-md-4">
            <%= render 'pages/plan_card' %>
        </div>
        <div class="col-12 col-md-4">
            <%= render 'pages/plan_card' %>
        </div>
        <div class="col-12 col-md-4">
            <%= render 'pages/plan_card' %>
        </div>
    </div>
</div>
