<div class="card mb-4">
  <div class="card-header">
    Team Board
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= board.title %> </h5>
    <p class="card-text">10 tasks</p>
    <div class="d-flex justify-content-end">
        <a href="#" class="btn btn-danger me-2">Delete</a>
        <%= link_to 'Enter', board_path(board), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
