<div class="container">
    <%= render 'pg_header', board_index_header %>

    <div class="bg-dark rounded p-4 my-4 text-white">
        <div class="d-flex justify-content-between align-items-center">
            <p class="h5 m-0">Boards Owner</p>
            <button class="btn btn-success">Add new</button>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <%= render 'board_card' %>
        </div>
        <div class="col-12 col-md-6">
            <%= render 'board_card' %>
        </div>
        <div class="col-12 col-md-6">
            <%= render 'board_card' %>
        </div>
    </div>
</div>
