<div class="card">
  <div class="card-header">
    Plan and prices
  </div>
  <div class="card-body">
    <h5 class="card-title mb-3">Basic plan</h5>
    <p class="m-0 mb-1"><strong>Price: </strong>100 $</p>
    <p class="m-0 mb-1"><strong>User quantity: </strong>20 users</p>
    <p class="m-0 mb-1"><strong>Renew time: </strong>12 months</p>
    <div class="d-flex justify-content-end">
        <a href="#" class="btn btn-warning block option-btn">Edit</a>
    </div>
  </div>
</div>
