<div class="container">
    <%= render 'pg_header', { title: 'Prices and Plans', text: 'Edit plan data like price and users allowed.', config: true } %>

    <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-8">
            <%= render 'plan_card' %>
        </div>
    </div>
</div>
