<div class="container mb-5">
    <%= render 'pg_header', index_header %>

    <div class="row d-flex justify-content-center">
        <% @plans.each do |plan| %>
            <div class="col-12 col-lg-8">
                <%= render 'plan_card', plan: plan %>
            </div>
        <% end %>
    </div>
</div>
